BOT_TOKEN=8535312579:AAGtVFZCvQak6WIyRQ6G4LTLoObFEAAzZxA
ADMIN_IDS=1248500925
POINTS_TO_TTAI=2000
ONE_TAP_POINTS=5
CLAIM_MIN_POINTS=2000
DAILY_TAP_LIMIT=100
ENERGY_MAX=10
YT_VIDEO=https://youtube.com/shorts/GGU4SOGCK-Q
